/* CSS Document */


html, body {
	height: 100%;
	font-size: 100%;
}

.font-purple {
	color: #ce93d8;
}

.full-h {
	height: 100%;
}






/*.top-nav-collapse {
	background-color: #82b1ff !important;
}
.navbar:not(.top-nav-collapse) {
	background: transparent !important;
}
@media (max-width: 768px) {
	.navbar:not(.top-nav-collapse) {
		background: #82b1ff !important;
	}
}

h5 {
	letter-spacing: 3px;
}
@media (max-width: 740px) {
	.full-height,
	.full-height body,
	.full-height header,
	.full-height header .view {
		height: 700px;
	}
}*/






.top-nav-collapse {
	background-color: #82b1ff !important;
}
.navbar:not(.top-nav-collapse) {
	background: transparent !important;
}
@media (max-width: 768px) {
	.navbar:not(.top-nav-collapse) {
		background: #82b1ff !important;
	}
}

h5 {
	letter-spacing: 3px;
}
@media (max-width: 740px) {
	.full-height,
	.full-height body,
	.full-height header,
	.full-height header .view {
		height: 700px;
	}
}




.vTeamHea {
	font-size: 100%;
	color: #f3e5f5;
}
.vTeam {
	font-size: 200%;
	color: #f3e5f5;
}
.vScore {
	font-size: 500%;
	color: #f3e5f5;
}
.vSet {
	font-size: 100%;
	color: #f3e5f5;
}
.vSetWinner {
	font-size: 80%;
	color: #f3e5f5;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.vTeamHea {
		font-size: 100%;
		color: #f3e5f5;
	}
	.vTeam {
		font-size: 200%;
	}
	.vScore {
		font-size: 500%;
	}
	.vSet {
		font-size: 130%;
	}
	.vSetWinner {
		font-size: 80%;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.vTeamHea {
		font-size: 100%;
		color: #f3e5f5;
	} 
	.vTeam {
		font-size: 300%;
	}
	.vScore {
		font-size: 800%;
	}
	.vSetWinner {
		font-size: 100%;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.vTeamHea {
		font-size: 100%;
		color: #f3e5f5;
	} 
	.vTeam {
		font-size: 300%;
	}
	.vScore {
		font-size: 800%;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
	.vTeamHea {
		font-size: 100%;
		color: #f3e5f5;
	} 
	.vTeam {
		font-size: 300%;
	}
	.vScore {
		font-size: 800%;
	}
}